.content {
  width: 100%;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding: 0 15px;
}

body {
  min-width: 400px;
  position: relative;
}

.search-bar {
  width: 80%;
  margin-right: 0px;
}

* {
  box-sizing: border-box;
}

.btn {
  outline: none !important;
}

.search-bar input {
  width: 100%;
  height: 34px;
  padding-right: 5px;
  padding-left: 5px;
  background: transparent;
  border: 1px solid #ddd;
  outline: none;
}

.translate-text {
  width: 20%;
  border-radius: 0;
  outline: none;
}

footer {
  margin-top: 15px;
  border-radius: 0 !important;
  width: 100%;
  margin-bottom: 0 !important;
  text-align: center;
  cursor: context-menu;
  font-size: 11px;
  box-shadow: none !important;
  border: none !important;
}

footer h6 {
  border: none !important;
}

.result {
  display: none;
  width: 100%;
  font-size: 18px;
}

.list-group-item {
  border-radius: 0 !important;
  border-left: none;
  border-right: none;
}

.list-group-item i {
  margin-right: 10px;
}

.list-group {
  margin-bottom: 0px !important;
}

.speak {
  background-image: url(/public/img/audio.png);
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.speak:hover {
  opacity: 1;
}

.switch {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch span {
  font-size: 18px;
  font-weight: 700;
}

.switch button {
  font-weight: bold;
  margin: 0 20px;
  width: 50px;
  overflow: hidden;
  outline: none !important;
  border-radius: 0 !important;
}

.switch button img {
  width: 100%;
  transform: rotate(0deg);
  transition: all 0.2s;
}

.rolate {
  transform: rotate(180deg) !important;
}

p {
  display: inline-block;
  padding: 10px 15px;
  text-align: right;
  color: #807e7e;
  cursor: pointer;
  margin: 0;
  padding-bottom: 0;
}

p:hover {
  color: #000;
  text-decoration: unset;
}

.more {
  text-align: right;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  align-items: center;
}

.col-md-12 {
  width: 100%;
  padding: 10px 0;
}

.col-md-12:last-child {
  margin-bottom: 15px;
}
.action-btn{
  color: #016992;
}
.action-btn,
.dropdown-menu * {
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  width: 100%;
  font-size: 15px;
  font-weight: 700;
}

div[class^="col"],
div[class*='col'] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.dropdown-menu{
  padding: 0;
  border-radius: 0px;
  left: -5px;
}
.dropdown-menu a{
  padding: 5px 20px !important;
}